@import "tailwindcss";

@layer base {
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, legacy Edge */
  }
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera, Edge */
  }
}
